*
{
    margin: 0;
    padding: 0;
}
html
{
    font-size: 62.5%;
    scroll-behavior: smooth;
}

@font-face 
{
    font-family:disney;
    src: url(Disney-Comic-Regular.ttf);
}
body
{
    font-family:disney;
    font-size: 2rem;
    color: var(--primary-color);
    line-height: 1.5;
}
h1, h2, h3, h4, h5, h6
{
    font-family:disney;
}
h1
{
    font-size: 4rem;
    text-transform: uppercase;
}
h2
{
    font-size: 6rem;
    margin-bottom: 5rem;
    text-transform: uppercase;
    line-height: 1.2;
}
h3
{
    font-size: 3rem;
    text-transform: uppercase;
}
h4
{
    font-size: 2.5rem;
    text-transform: uppercase;
}
h5
{
    font-size: 2rem;
    text-transform: uppercase;
}
h6
{
    font-size: 1.5rem;
    text-transform: uppercase;
}
a
{
    text-decoration: none;
}
p
{
    margin-bottom: 3rem;
}