@import url('https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900');
 *
 /* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
} */

/* body
{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: var(--clr);
} */
.main-content menu-content navigation
{
    position: relative;
    width: 400px;
    height: 70px;
    background: #fff;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}
.main-content menu-content navigation ul
{
    display: flex;
    width: 350px;
}
.main-content menu-content navigation ul li
{
    position: relative;
    list-style: none;
    width: 70px;
    height: 70px;
    z-index: 1;
}
.main-content menu-content navigation ul li a
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    text-align: center;
    font-weight: 500;
}
.main-content menu-content navigation ul li a .icon
{
    position: relative;
    display: block;
    line-height: 75px;
    font-size: 1.5em;
    text-align: center;
    transition: 0.5s;
    color: var(--clr);
}
.main-content menu-content navigation ul li.active a .icon
{
 transform: translateY(-35px);
}
.main-content menu-content navigation ul li a .text
{
    position: absolute;
    color: var(--clr);
    font-weight: 400;
    font-size: 0.75em;
    letter-spacing: 0.05em;
    transition: 0.5s;
    opacity: 0;
    transform: translateY(20px);
}
.main-content menu-content navigation ul li.active a .text 
{
    opacity: 1;
    transform: translateY(10px);
}
.indicator
{
    position: absolute;
    top: -50%;
    width: 70px;
    height: 70px;
    background: #f30000;    
    border-radius: 50%;
    border: 6px solid var(--clr);
    transition: 0.5s;
}
.indicator::before
{
    content:'';
position: absolute;
top: 50%;
left: -22px;
width: 20px;
height: 20px;
background: transparent;
border-top-right-radius: 20px;
box-shadow: 1px -10px 0 0 var(--clr);
}
.indicator::after
{
    content: '';
    position: absolute;
    top: 50%;
    right: -22px;
    width: 20px;
    height: 20px;
    background: transparent;
    border-top-left-radius: 20px;
    box-shadow: -1px -10px 0 0 var(--clr);
}

.main-content menu-content navigation li:nth-child(1).active ~ .indicator
{
    transform: translateX(calc(70px * 0));
    background:  radial-gradient(circle at 30% 107%, #FFDC5B 0%, #EECC40 5%, #D4AF37 45%, #9F8000 60%, #9F8000 90%);
}
.main-content menu-content navigation li:nth-child(2).active ~ .indicator
{
    transform: translateX(calc(70px * 1));
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
  
}
.main-content menu-content navigation li:nth-child(3).active ~ .indicator
{
    transform: translateX(calc(70px * 2));
    background:  radial-gradient(circle at 30% 107%, #1EBEA5 0%, #128C7E 5%, #1EBEA5 45%, #00E676 60%, #00E676 90%);
}
.main-content menu-content navigation li:nth-child(4).active ~ .indicator
{
    transform: translateX(calc(70px * 3));
    background:  radial-gradient(circle at 30% 107%, #630001 0%, #8A0505 5%, #BF0202 45%, #EE0000 60%, #EE0000 90%);
}

.main-content menu-content navigation li:nth-child(5).active ~ .indicator
{
    transform: translateX(calc(70px * 4));
    background:  radial-gradient(circle at 30% 107%, #F6E0C9 0%, #F6E0C9 5%, #F6E0C9 45%, #F6E0C9 60%, #F6E0C9 90%);
}

